body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
}

.header {
    height: 100vh;
    background-image: 
    linear-gradient(to right bottom, 
   rgba(76, 216, 255, 0.8),
   rgba(30, 108, 217, 0.8)),
   url('./img/bg.webp');
    
  background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.brand { font-size: 20px; }

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #000000;
  font-size: 14px;
}

.footer{
    margin-top: 25px;
}

.btn-black {
    background-color: #2b2b2b;
    color: #ffffff;
  font-size: 14px;
}


.navbar {
    background-color: rgba(30, 108, 217, 0.8); 
    padding: 1rem 2rem; 
    border: none; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
    position: relative;
    z-index: 10;
}


.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff; 
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #1ebde0; 
}

.navbar-nav {
    margin-left: auto; 
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 1rem; 
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #fff; 
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
    color: #1ebde0; 
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 50px;
}


.navbar-toggler {
    border-color: #fff; 
}

.navbar-toggler-icon {
    background-color: #fff; 
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem; 
    }

    .navbar-nav {
        flex-direction: column; 
        align-items: center;
    }

    .nav-item {
        margin: 0.5rem 0; 
    }
}

